<a href="https://colab.research.google.com/github/Yogesh-8998/Gmail-Spam-Detection/blob/main/Spam_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import nltk

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
dt=pd.read_csv("/content/drive/MyDrive/ML_Internship/SPAM.csv",encoding='latin1')
dt.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [ ]:
dt['spam']=dt['type'].map({'spam':1,'ham':0}).astype(int)
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [ ]:
print("COLUMNS IN THE GIVEN DATA:")
for col in dt.columns:
  print(col)

COLUMNS IN THE GIVEN DATA:
type
text
spam

In [ ]:
t=len(dt['type'])
print("No Of Rows In Review Column",t)
t=len(dt['text'])
print("No Of Rows In Liked Column",t)

No Of Rows In Review Column 116
No Of Rows In Liked Column 116

**2) Tokenization**

In [ ]:
dt['text'][4]

"Nah I don't think he goes to usf, he lives around here though"

In [ ]:
def tokenizer(text):
  return text.split()

In [ ]:
dt['text']=dt['text'].apply(tokenizer)

In [ ]:
dt['text'][4]

['Nah',
 'I',
 "don't",
 'think',
 'he',
 'goes',
 'to',
 'usf,',
 'he',
 'lives',
 'around',
 'here',
 'though']

**3)Stemming**

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer('english',ignore_stopwords=False)

In [ ]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [ ]:
dt['text']=dt['text'].apply(stem_it)

In [ ]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

**4) Lemmitization**

In [ ]:
dt['text'][112]

['go', 'for', 'dinner.msg', 'you', 'after.']

In [ ]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [ ]:
def lemm_it(text):
  return [lemmatizer.lemmatize(word,pos='a') for word in text]

In [ ]:
dt['text']=dt['text'].apply(lemm_it)

In [ ]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.stem.snowball import stopwords
stop_words=stopwords.words('english')

In [ ]:
def stop_it(text):
  review=[word for word in text if not word in stop_words]
  return review

In [ ]:
dt['text']=dt['text'].apply(stop_it)

In [ ]:
dt['text'][4]

['nah', 'think', 'goe', 'usf,', 'live', 'around', 'though']

In [ ]:
dt.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [ ]:
dt['text']=dt['text'].apply(' '.join)

In [ ]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [ ]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
acc_log=accuracy_score(y_pred,y_test)*100
print("accuracy:",acc_log)

accuracy: 87.5